body {
    margin: 20px;
    background-color: #21212a;
    font-family: 'DM Mono', monospace;
    color: #f1f1f8;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 15px 0 0 0;
}

p {
    margin: 0;
    opacity: 0.8;
}

.sentient-title {
    width: 100%;
}

.page-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.player-square {
    position: relative;
    padding-top: 50%;
    padding-bottom: 50%;
}

iframe {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100% !important;
    height: 100% !important;
}

.album-img {
    width: 100%;
}

.stream-bar {
    display: flex;
    margin-left: -10px;
    gap: 0px;
}

.stream-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1920px) {
    .page-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }

}

@media screen and (max-width: 1366px) {
    .page-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .page-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 640px) {

    .sentient-title {
        width: 100%;
    }

    .page-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

    .card {
        padding: 15px;
        flex-direction: column;
        gap: 15px;
        max-width: 480px;
}